<nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand" href="#">   </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav col-9">
      <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn"> Business Groups<i class="fa fa-caret-down"></i> </button>
          <div class="dropdown-content col-6 row">
            <div class="col-3 nav-item"></div>
            <div class="col-3 nav-item">
              <a href="#" class="nav-poup-item">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            <div class="col-3 nav-item">
              <a href="#" class="nav-poup-item">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            <div class="col-3 nav-item">
              <a href="#" class="nav-poup-item">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>

          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn"> Analytics <i class="fa fa-caret-down"></i> </button>
          <div class="dropdown-content col-6 row">
            <div class="col-3 nav-item"></div>
            <div class="col-3 nav-item">
              <a href="#" class="nav-poup-item">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            <div class="col-3 nav-item">
              <a href="#" class="nav-poup-item">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            <div class="col-3 nav-item">
              <a href="#" class="nav-poup-item">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>

          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn"> Applications <i class="fa fa-caret-down"></i> </button>
          <div class="dropdown-content col-6 row">
            <div class="col-3 nav-item"></div>
            <div class="col-3 nav-item">
              <a href="#" class="nav-poup-item">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            <div class="col-3 nav-item">
              <a href="#" class="nav-poup-item">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            <div class="col-3 nav-item">
              <a href="#" class="nav-poup-item">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>

          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn"> Quick Access <i class="fa fa-caret-down"></i> </button>
          <div class="dropdown-content col-6 row">
            <div class="col-3 nav-item"></div>
            <div class="col-3 nav-item">
              <a href="#" class="nav-poup-item">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            <div class="col-3 nav-item">
              <a href="#" class="nav-poup-item">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            <div class="col-3 nav-item">
              <a href="#" class="nav-poup-item">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>

          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn"> Documents <i class="fa fa-caret-down"></i> </button>
          <div class="dropdown-content col-6 row">
            <div class="col-3 nav-item"></div>
            <div class="col-3 nav-item">
              <a href="#" class="nav-poup-item">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            <div class="col-3 nav-item">
              <a href="#" class="nav-poup-item">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            <div class="col-3 nav-item">
              <a href="#" class="nav-poup-item">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>

          </div>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
    </ul>
    <ul class="navbar-nav col-3">
      <li class="nav-item dropdown no-arrow" style="width:100%">
        <a class="nav-link dropdown-toggle" style="float:right" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="img-profile rounded-circle user" src="/assets/user.png">
          <span class="ml-2 d-none d-lg-inline">{{userName}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item">User Name</a>
          <div class="dropdown-divider"></div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>

<div class="container">
 
</div>
